@model IEnumerable<Category>

<!-- Header section -->
<header class="header-section">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 text-center text-lg-left">
					<!-- logo -->
					<a href="/" class="site-logo">
						<img src="/img/logo.png" alt="">
					</a>
				</div>
				<div class="col-xl-6 col-lg-5">
					<form class="header-search-form">
						<input type="text" placeholder="Ne Aramıştınız..." id="searchHeaderInput">
						<button><i class="flaticon-search"></i></button>
					</form>
				</div>

				<div class="searchHeaderResult">

				</div>


				<div class="col-xl-4 col-lg-5">
					<div class="user-panel">
						<div class="up-item">
							<i class="flaticon-profile"></i>
							<a href="/">Giriş</a> / <a href="#">Hesap Oluştur</a>
						</div>
						<div class="up-item">
							<div class="shopping-card">
								<i class="flaticon-bag"></i>
								<span class="sepetMiktar">0</span>
							</div>
							<a asp-controller="Cart" asp-action="Index">Alışveris Sepetim</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="main-navbar" style="text-align:center">
		<div class="container">
			<!-- menu -->
			<ul class="main-menu">
				<li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>

				@foreach (Category c in Model)
				{
					<li><a href="#">@c.Name</a></li>
				}

				<li><a href="#">Blog</a></li>
				<li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
			</ul>
		</div>
	</nav>
</header>
<!-- Header section end -->